*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background: url('https://oir.mobi/uploads/posts/2021-03/1616981986_48-p-fon-dlya-vizitok-v-khoroshem-kachestve-50.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.search-form input {
    margin-right: 10px;
    padding: 10px;
    font-size: 1rem;
}

.search-form button {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
}